.sponsors_page_title {
    margin: 40px;
    text-align: center;
    font-size: 48px;
    text-decoration: underline;
}

.sponsors_page_desc {
    font-size: 28px;
    margin: 60px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}

.sponsor {
    margin: 80px;
}

.logo_sponsor {
    vertical-align: middle;
}

.desc_sponsor {
    max-width: 60vw;
    font-size: 20px;
    float: left;
    text-align: justify;
    text-justify: inter-word; 
}

.sponsor_video {
    display: block;
    margin:0 auto 35px auto
}
.shibuya {
    max-height: 75px; 
}