.accueil-bouton {
    float: right;
}
button {
    display: block;
    background-color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.img-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-container-equipe {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.test {
    background-image: url("https://img.over-blog-kiwi.com/0/67/37/03/20171128/ob_126309_ob-df4330-bandeau5.png");
    width: 50%;
    height: 30%;
    justify-content: center;
}


.bouton-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Message {
    color: blue;
}

.img-profile {
    width: 30%;
    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center;
}

.wrap {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 30px;
    min-height: 6px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4f72d1;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 10%);
    border: none;
    border-radius: 10px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 10px;
    min-width: calc(30px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #0077ff;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 10%;
    border: 6px solid #004cff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    10% {
      width: 30px;
      height: 30px;
      opacity: 0;
    }
  }

#navbar_tournoi {
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
  align-items: center;
}
.sponsor-page {
  width : 90%;
  padding: 3%;
  text-align: center;
  display: flex;
}



.sponsor-image {
  width : 20%;
  height: 100%;
  margin-right: 3%;
  margin: auto;
  text-align: center;
}

.sponsor-page > img {
  margin : auto;
  height: 250px;
  width: 250px;
}

.sponsor-texte {
  font-size: 18px;
  text-align: center;
  margin: auto;
  width: 60%;
  margin-left: 5%;
  padding-left: 5%;
}

.header-image {
  width: 100%;
  height: 600px;
}

a {
  text-decoration: none;

}
a:link {
  color: gray;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}